body{
    padding: 0%;
    margin: 0%;
}

header{
    position: fixed;
    top: 0%;
    height: 70px;
    border-bottom: 2px black solid;
}
.header-container{
    width: 90%;
    padding-top: 0px;
    margin-top: 0%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.header-nav{
    width: 40%;
}
.logo{
    font-size: 35px;
    text-align: center;
    margin: 0%;
    margin-top: 8px;

}
.header-ul{
    list-style: none;
    padding-left: 0%;
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
}
.top-2-ul{
    font-size: 18px;
    padding-left: 25px;
    list-style:disc;
}
a{
    text-decoration: none;
    color: black;
}
.header-a{
    font-size: 24px;
}
.header-li:hover .header-a{
    text-decoration: underline;
}
.firstsection{
    display: flex;
    justify-content: space-between;
}






main{
    width: 97%;
    margin: auto;
    padding-top: 100px;
}
.outer-main-container{
    width: 80%;
    margin: auto;
}
.we-discover{
    padding-left: 25px;
    list-style:disc;
}
.first-city-section{
    padding-top: 180px;
}
.h1-cities{
    font-size: 30px;
    margin-left: 10px;
    padding-top: 150px;
}

.section-button{
    width: 160px;
    height: 50px;
    font-size: 18px;
    border: 1px rgb(173, 173, 173) solid;
    color: rgb(56, 56, 56);
    border-radius: 25px;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
}
.section-button:hover{
    transition: 0.3s;
    color: black;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgb(212, 212, 212);
}














header ul{
    margin: 0%;
    padding: 0%;
    list-style: none;
    overflow: hidden;
    height: 30px;

}
header .logo{
    float: left;
    display: block;
    font-size: 2em;
    padding-top: 10px;
}
header .menu{
    clear: both;
    max-height: 0;
    transition:max-height .1s ease-out;
}
header .menu-icon{
    height: 69px;
    text-align: center;
    position: relative;
    float: right;
    cursor: pointer;
}
header .menu-icon .nav-icon{
    background: rgb(0, 0, 0);
    display: inline-block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .1s ease-out;
    margin-top: 28px;
    margin-left: auto;
}
header .menu-icon .nav-icon:before{
    background: rgb(0, 0, 0);
    height:100%;
    width: 100%;
    position: absolute;
    top: 5px;
    display: block;
    transition: all .1s ease-out;

    content: "";


}
header .menu-icon .nav-icon:after{
    background: rgb(0, 0, 0);
    height:100%;
    width: 100%;
    position: absolute;
    display: block;
    content: "";
    top: 10px;
    transition: all .1s ease-out;
}
header ul{
    margin: 0%;
    padding: 0%;
    list-style: none;
    overflow: hidden;
    background-color: white;
}

header>ul a{
    display: block;
    height: 20px;
    padding: 20px;
    text-decoration: none;
}

header .menu-btn{
    display: none;
}

.menu-btn:checked ~ .menu{
    display: block;
}



header .menu-btn:checked ~ .menu{
    visibility: visible;
}
header .menu-btn:checked ~ .menu-icon .nav-icon:before{
    display: none;
}
header .menu-btn:checked ~ .menu-icon .nav-icon:after{
    rotate: 90deg;
    top:0;

}
header .menu-btn:checked ~ .menu-icon .nav-icon{
    rotate: 45deg;
    top:0;

}
.header-a:active{
    text-decoration: none;
}